{% comment %}
    Renders a product card

    Accepts:
    - card_product: {Object} Product Liquid object (optional)
    - media_aspect_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
    - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
    - show_vendor: {Boolean} Show the product vendor. Default: false
    - show_rating: {Boolean} Show the product rating. Default: false
    - extend_height: {Boolean} Card height extends to available container space. Default: true (optional)
    - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)
    - show_quick_add: {Boolean} Show the quick add button.
    - section_id: {String} The ID of the section that contains this card.

    Usage:
    {% render 'card-product', show_vendor: section.settings.show_vendor %}
{% endcomment %}

{{ 'component-rating.css' | asset_url | stylesheet_tag }}

{%- if show_quick_view -%}
{{ 'quick-view.css' | asset_url | stylesheet_tag }}
<script src="{{ 'quick-view.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- if card_product and card_product != empty -%}
  {%- liquid
    assign ratio = 1
    if card_product.featured_media and media_aspect_ratio == 'portrait'
      assign ratio = 0.8
    elsif card_product.featured_media and media_aspect_ratio == 'adapt'
      assign ratio = card_product.featured_media.aspect_ratio
    endif
    if ratio == 0 or ratio == nil
      assign ratio = 1
    endif
  -%}
  <div class="card-wrapper bg-links-hover">
    <div class="card
      card--{{ settings.card_style }}
      {% if card_product.featured_media %} card--media{% else %} card--text{% endif %}
      {% if settings.card_style == 'card' %} color-{{ settings.card_color_scheme }} gradient{% endif %}
      {% if extend_height %} card--extend-height{% endif %}
      {% if card_product.featured_media == nil and settings.card_style == 'card' %} ratio{% endif %}"
      style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;"
    >
      <div class="card__inner {% if settings.card_style == 'standard' %}color-{{ settings.card_color_scheme }} gradient{% endif %}{% if card_product.featured_media or settings.card_style == 'standard' %} ratio{% endif %}" style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;">
        {%- if card_product.featured_media -%}
          <div class="card__media">
            <div class="media media--transparent media--hover-effect">
              {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
              <img
                srcset="{%- if card_product.featured_media.width >= 165 -%}{{ card_product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 360 -%}{{ card_product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 533 -%}{{ card_product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 720 -%}{{ card_product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 940 -%}{{ card_product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 1066 -%}{{ card_product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
                  {{ card_product.featured_media | image_url }} {{ card_product.featured_media.width }}w"
                src="{{ card_product.featured_media | image_url: width: 533 }}"
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                alt="{{ card_product.featured_media.alt | escape }}"
                class="motion-reduce"
                {% unless lazy_load == false %}loading="lazy"{% endunless %}
                width="{{ card_product.featured_media.width }}"
                height="{{ card_product.featured_media.height }}"
              >
              {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}

              {%- if card_product.media[1] != nil and show_secondary_image -%}
                <img
                  srcset="{%- if card_product.media[1].width >= 165 -%}{{ card_product.media[1] | image_url: width: 165 }} 165w,{%- endif -%}
                    {%- if card_product.media[1].width >= 360 -%}{{ card_product.media[1] | image_url: width: 360 }} 360w,{%- endif -%}
                    {%- if card_product.media[1].width >= 533 -%}{{ card_product.media[1] | image_url: width: 533 }} 533w,{%- endif -%}
                    {%- if card_product.media[1].width >= 720 -%}{{ card_product.media[1] | image_url: width: 720 }} 720w,{%- endif -%}
                    {%- if card_product.media[1].width >= 940 -%}{{ card_product.media[1] | image_url: width: 940 }} 940w,{%- endif -%}
                    {%- if card_product.media[1].width >= 1066 -%}{{ card_product.media[1] | image_url: width: 1066 }} 1066w,{%- endif -%}
                    {{ card_product.media[1] | image_url }} {{ card_product.media[1].width }}w"
                  src="{{ card_product.media[1] | image_url: width: 533 }}"
                  sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                  alt=""
                  class="motion-reduce"
                  loading="lazy"
                  width="{{ card_product.media[1].width }}"
                  height="{{ card_product.media[1].height }}"
                >
              {%- endif -%}
            </div>
          </div>
        {%- endif -%}

        {%- if show_quick_add -%}
          <div class="quick-add">
            {%- assign product_form_id = 'quick-add-' | append: section_id | append: card_product.id -%}
            {%- if card_product.variants.size == 1 -%}
              <product-form>
                {%- form 'product', card_product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                  <input type="hidden" name="id" value="{{ card_product.selected_or_first_available_variant.id }}" disabled>
                  <button
                    id="{{ product_form_id }}-submit"
                    type="submit"
                    name="add"
                    class="quick-add__submit button button--primary "
                    aria-haspopup="dialog"
                    aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
                    aria-live="polite"
                    data-sold-out-message="true"
                    {% if card_product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                  >
                    <span>
                      {%- if card_product.selected_or_first_available_variant.available -%}
                        {{ 'products.product.add_to_cart' | t }}
                      {%- else -%}
                        {{ 'products.product.sold_out' | t }}
                      {%- endif -%}
                    </span>
                    <span class="sold-out-message hidden">
                      {{ 'products.product.sold_out' | t }}
                    </span>
                    <div class="loading-overlay__spinner hidden">
                      <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                        <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                      </svg>
                    </div>
                  </button>
                {%- endform -%}
              </product-form>
            {%- else -%}
              <modal-opener data-modal="#QuickAdd-{{ card_product.id }}">
                <button
                  id="{{ product_form_id }}-submit"
                  type="submit"
                  name="add"
                  class="quick-add__submit button button--full-width"
                  aria-haspopup="dialog"
                  aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
                  data-product-url="{{ card_product.url }}"
                >
                  {{ 'products.product.choose_options' | t }}
                  <div class="loading-overlay__spinner hidden">
                    <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                      <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                    </svg>
                  </div>
                </button>
              </modal-opener>
              <quick-add-modal id="QuickAdd-{{ card_product.id }}" class="quick-add-modal">
                <div role="dialog" aria-label="{{ 'products.product.choose_product_options' | t: product_name: card_product.title | escape }}" aria-modal="true" class="quick-add-modal__content global-settings-popup" tabindex="-1">
                  <button id="ModalClose-{{ card_product.id }}" type="button" class="quick-add-modal__toggle" aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-close' %}</button>
                  <div id="QuickAddInfo-{{ card_product.id }}" class="quick-add-modal__content-info">
                  </div>
                </div>
              </quick-add-modal>
            {%- endif -%}
          </div>
        {%- endif -%}
      </div>
      <div class="card__content">
        <div class="card__information">
          <div class="card_heading-wrap">
            {%- if show_vendor -%}
              <div class="card__vendor">
                <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
                <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_3_277)">
                    <path d="M4.19829 5.32393C3.94496 5.36262 3.81816 5.3817 3.56483 5.42039C3.46078 4.1127 4.19307 3.11847 5.472 2.8288C5.51043 3.08213 5.52978 3.20892 5.56847 3.46225C4.64012 3.70199 4.15096 4.36237 4.19854 5.32393H4.19829Z" fill="#19FB9B"/>
                    <path d="M12.0429 8.7628C12.0429 8.7628 11.961 7.9547 11.2604 7.85745C10.5595 7.76019 10.4094 8.01091 10.4094 8.01091C10.4094 8.01091 10.9347 8.51548 11.0779 9.17717C11.2212 9.8386 10.9893 9.99546 10.7438 9.79102C10.4981 9.58632 10.2732 9.17717 9.88447 8.05196C9.49572 6.92648 8.74541 5.6512 6.97916 4.94193C5.97133 4.53723 4.79068 4.45253 3.68377 4.70507C3.62285 4.70089 3.56116 4.69671 3.49841 4.69253C1.75334 4.58011 0.933219 4.66978 0.727732 4.6988C0.697144 4.70324 0.666555 4.70481 0.635706 4.70742C0.492179 4.71945 0.353099 4.85226 0.312053 5.02271L0.00225091 6.30845C-0.0748723 6.62923 -0.0246766 6.93982 0.120158 7.16805L0.119373 7.16752L0.318066 7.49458C0.276498 7.60961 0.23963 7.72673 0.208258 7.84621C0.148651 8.07392 0.108134 8.30895 0.0890489 8.54868C0.778975 8.21091 2.13006 7.7168 4.1784 8.47914C7.13156 9.57795 7.29523 10.9965 9.43664 11.5481C10.6649 11.8645 11.291 11.4506 11.6277 10.945C11.7888 10.6315 11.9017 10.2823 11.9509 9.89324C11.9509 9.89324 12.5749 9.83703 13.0402 9.55573C13.5059 9.27443 13.8076 9.01848 13.9662 8.97247C13.9662 8.97247 13.521 8.14398 12.0429 8.7628Z" fill="#19FB9B"/>
                    <path d="M6.90613 3.07002C6.91211 2.4115 6.38312 1.87281 5.7246 1.86683C5.06609 1.86086 4.5274 2.38985 4.52143 3.04837C4.51545 3.70689 5.04444 4.24557 5.70296 4.25154C6.36148 4.25752 6.90016 3.72853 6.90613 3.07002Z" fill="#19FB9B"/>
                    <path d="M6.25728 3.06414C6.26 2.76398 6.01888 2.51843 5.71871 2.51571C5.41854 2.51298 5.173 2.75411 5.17028 3.05428C5.16755 3.35444 5.40868 3.59999 5.70885 3.60271C6.00901 3.60544 6.25455 3.36431 6.25728 3.06414Z" fill="white"/>
                    <path d="M11.6277 10.945C10.9506 12.2642 9.4241 12.9507 8.23405 13.3034C6.76087 13.7397 3.3813 13.9588 1.41401 11.9392C0.369836 10.8674 0.000430867 9.65666 0.0890572 8.5487C0.778983 8.21093 2.12981 7.71681 4.17841 8.47915C7.13157 9.57796 7.29524 10.9965 9.43665 11.5481C10.6649 11.8645 11.291 11.4506 11.6277 10.945Z" fill="#9945FF"/>
                    <path d="M0.476684 6.33742L0.440341 6.4888C0.40008 6.65664 0.401653 6.82108 0.438516 6.96696C0.452372 7.0216 0.471192 7.07362 0.494722 7.12225C0.508055 7.14996 0.522687 7.17689 0.539158 7.20225C0.544386 7.21088 0.54988 7.21872 0.55537 7.22656C0.581513 7.26447 0.611052 7.29924 0.643732 7.33009C0.693927 7.37846 0.751712 7.41819 0.815502 7.44721C0.852103 7.46394 0.891055 7.47728 0.931578 7.48669L1.37392 7.3944L1.47196 7.37401L1.57758 7.35205L0.631707 5.69403L0.476684 6.33742Z" fill="#260246"/>
                    <path d="M1.08582 5.02734L2.34305 7.23019C2.42985 7.22444 2.51717 7.22183 2.60448 7.22235C2.69233 7.22261 2.7807 7.22627 2.86933 7.23307L1.59169 4.99414C1.35327 5.00277 1.18777 5.01662 1.08582 5.02734Z" fill="#260246"/>
                    <path d="M7.23998 5.56044C7.22142 5.55887 7.20312 5.55547 7.18587 5.55024C7.17541 5.54684 6.18745 5.24724 3.97728 5.07129C3.90042 5.06528 3.82199 5.05926 3.74225 5.05351C3.72944 5.05247 3.7169 5.05169 3.70435 5.0509C3.62383 5.04515 3.5454 5.03966 3.46906 5.03495C3.31324 5.02502 3.16579 5.01691 3.02592 5.01038C2.98278 5.00829 2.94069 5.00646 2.89912 5.00489C2.80082 5.00071 2.70671 4.9973 2.61678 4.99443C2.53599 4.99207 2.45861 4.99025 2.38436 4.98894C2.29495 4.98737 2.21024 4.98659 2.12998 4.98633H2.11534L3.44683 7.31989C3.85545 7.4127 4.25597 7.57165 4.63923 7.79649L5.64497 8.38654C6.2502 8.48144 6.87005 8.07962 7.01437 7.47126L7.41383 5.78605C7.44076 5.67181 7.36259 5.57037 7.23998 5.56044Z" fill="#260246"/>
                    <path d="M0.958908 5.044C0.946882 5.04635 0.935115 5.04688 0.923612 5.04609C0.849888 5.04008 0.77303 5.10675 0.751854 5.19459L0.631592 5.69418L1.57747 7.35221L1.81982 7.30148C1.98217 7.26776 2.14635 7.24449 2.3121 7.23247C2.3223 7.23168 2.33274 7.2309 2.34294 7.23037L1.08571 5.02753C1.001 5.03668 0.960477 5.04348 0.958908 5.044Z" fill="white"/>
                    <path d="M2.11525 4.98648C2.02322 4.98622 1.93721 4.98648 1.85695 4.98778C1.81826 4.98831 1.78114 4.98909 1.74532 4.98988C1.69094 4.99118 1.6397 4.99275 1.5916 4.99432L2.86923 7.23325C2.98269 7.24135 3.09693 7.25495 3.21118 7.27377C3.28987 7.28684 3.36831 7.30227 3.44674 7.32005L2.11525 4.98648Z" fill="white"/>
                  </g>
                  <defs>
                    <clipPath id="clip0_3_277">
                      <rect width="14" height="14" fill="white" transform="translate(0 0.878052)"/>
                    </clipPath>
                  </defs>
                </svg>
                <div>{{ card_product.vendor }}</div>
              </div>
            {%- endif -%}
            <h3 class="card__heading{% if card_product.featured_media or settings.card_style == 'standard' %} h5 {% else %}h5{% endif %}"{% if card_product.featured_media or settings.card_style == 'card' %} id="title-{{ section_id }}-{{ card_product.id }}"{% endif %}>
              <a href="{{ card_product.url }}" id="CardLink-{{ section_id }}-{{ card_product.id }}" class="full-unstyled-link" aria-labelledby="CardLink-{{ section_id }}-{{ card_product.id }} Badge-{{ section_id }}-{{ card_product.id }}">
                {{ card_product.title | escape }}
              </a>
            </h3>
          </div>
          <div class="order-wrap"><div class="order-wrap-inner">
            {% render 'price', product: card_product, price_class: '' %}
          </div></div>

        </div>
        <div class="card__badge {{ settings.badge_position }}">
          {%- if card_product.available == false -%}
            <span id="Badge-{{ section_id }}-{{ card_product.id }}" class="badge badge--bottom-left color-{{ settings.sold_out_badge_color_scheme }}">{{ 'products.product.sold_out' | t }}</span>
          {%- elsif card_product.compare_at_price > card_product.price and card_product.available -%}
            <span id="Badge-{{ section_id }}-{{ card_product.id }}" class="badge badge--bottom-left color-{{ settings.sale_badge_color_scheme }}">{{ 'products.product.on_sale' | t }}</span>
          {% elsif card_product.tags contains 'new' %}
            <span id="Badge-{{ section_id }}-{{ card_product.id }}" class="badge badge--bottom-left color-new_badge">{{ 'products.product.on_new' | t }}</span>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
{%- else -%}
  <div class="card-wrapper bg-links-hover">
    <div class="card
      card--{{ settings.card_style }}
      card--text
      {% if extend_height %} card--extend-height{% endif %}
      {% if settings.card_style == 'card' %} color-{{ settings.card_color_scheme }} gradient{% endif %}
      {% if card_product.featured_media == nil and settings.card_style == 'card' %} ratio{% endif %}"
      style="--ratio-percent: 100%;"
    >
      <div class="card__inner {% if settings.card_style == 'standard' %}color-{{ settings.card_color_scheme }} gradient{% endif %}{% if settings.card_style == 'standard' %} ratio{% endif %}" style="--ratio-percent: 100%;">
        <div class="card__content">
          <div class="card__information">
            <h3 class="card__heading">
              <a role="link" aria-disabled="true" class="full-unstyled-link">
                {{ 'onboarding.product_title' | t }}
              </a>
            </h3>
          </div>
        </div>
      </div>
      <div class="card__content">
        <div class="card__information">
          <h3 class="card__heading{% if settings.card_style == 'standard' %} h5{% endif %}">
            <a role="link" aria-disabled="true" class="full-unstyled-link">
              {{ 'onboarding.product_title' | t }}
            </a>
          </h3>
          <div class="card-information">
            {%- if show_vendor -%}
              <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
              <div class="caption-with-letter-spacing light">{{ 'products.product.vendor' | t }}</div>
            {%- endif -%}
            {% render 'price' %}
          </div>
        </div>
      </div>
    </div>
  </div>
{%- endif -%}
