{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'template-collection.css' | asset_url }}" media="print" onload="this.media='all'">
{%- if section.settings.enable_quick_add -%}
  <link rel="stylesheet" href="{{ 'quick-add.css' | asset_url }}" media="print" onload="this.media='all'">
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
{% if section.settings.title_style == "03" %}
<script src="{{ 'gsap.min.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'template-collection.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  @media screen and (max-width: 989px) {
    .section-{{ section.id }}-padding {
      padding-left: 2.4rem;
      padding-right: 2.4rem;
    }
  }
{%- endstyle -%}

{%- liquid
  assign products_to_display = section.settings.collection.all_products_count

  if section.settings.collection.all_products_count > section.settings.products_to_show
    assign products_to_display = section.settings.products_to_show
    assign more_in_collection = true
  endif

  assign columns_mobile_int = section.settings.columns_mobile | plus: 0
  assign show_mobile_slider = false
  if section.settings.swipe_on_mobile and products_to_display > columns_mobile_int
    assign show_mobile_slider = true
  endif

  assign show_desktop_slider = false
  if section.settings.enable_desktop_slider and products_to_display > section.settings.columns_desktop
    assign show_desktop_slider = true
  endif

  if section.settings.description != blank or section.settings.show_description and section.settings.collection.description != empty 
    if section.settings.show_description
      assign collection_description = section.settings.collection.description
    else
      assign collection_description = section.settings.description
    endif
  endif
-%}
<div class="color-{{ section.settings.color_scheme }} isolate gradient">
  <div class="collection section-{{ section.id }}-padding{% if section.settings.full_width %} collection--full-width{% endif %} {{ section.settings.mod_class }}">

    {%- unless section.settings.title == blank -%}
      <div class="collection__title title-wrapper title-wrapper--no-top-margin title-wrapper-{{ section.settings.title_style }} {% if section.settings.full_width == false and section.settings.title_style != "03" %} page-width{% endif %}{% if show_mobile_slider %} title-wrapper--self-padded-tablet-down{% endif %}{% if show_desktop_slider %} collection__title--desktop-slider{% endif %}">
        <div class="inner">
          <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_3_225)">
              <path d="M14.3941 15.2429C13.5256 15.3756 13.0908 15.441 12.2223 15.5737C11.8655 11.0902 14.3762 7.68135 18.7611 6.6882C18.8929 7.55676 18.9592 7.99149 19.0919 8.86005C15.909 9.682 14.2319 11.9462 14.395 15.2429H14.3941Z" fill="#19FB9B"/>
              <path d="M41.2899 27.0335C41.2899 27.0335 41.0093 24.2629 38.6071 23.9294C36.204 23.596 35.6895 24.4556 35.6895 24.4556C35.6895 24.4556 37.4902 26.1855 37.9814 28.4542C38.4726 30.7219 37.6776 31.2598 36.8359 30.5588C35.9934 29.857 35.2225 28.4542 33.8896 24.5963C32.5568 20.7376 29.9843 16.3652 23.9285 13.9334C20.4731 12.5458 16.4252 12.2554 12.6301 13.1213C12.4212 13.1069 12.2097 13.0926 11.9946 13.0783C6.01145 12.6928 3.19961 13.0003 2.49508 13.0998C2.39021 13.115 2.28533 13.1204 2.17956 13.1293C1.68747 13.1706 1.21062 13.6259 1.0699 14.2103L0.00771741 18.6186C-0.256705 19.7184 -0.0846054 20.7833 0.411971 21.5658L0.409279 21.564L1.09051 22.6853C0.947992 23.0797 0.82159 23.4813 0.714028 23.8909C0.509661 24.6716 0.370744 25.4774 0.305311 26.2994C2.67077 25.1413 7.30306 23.4472 14.3259 26.0609C24.4511 29.8283 25.0122 34.6919 32.3542 36.5832C36.5652 37.6677 38.712 36.2488 39.8665 34.5153C40.4186 33.4406 40.8058 32.2431 40.9744 30.9093C40.9744 30.9093 43.1139 30.7166 44.7094 29.7521C46.3058 28.7876 47.3402 27.9101 47.8843 27.7524C47.8843 27.7524 46.3578 24.9118 41.2899 27.0335Z" fill="#19FB9B"/>
              <path d="M23.6782 7.51532C23.6987 5.25755 21.885 3.41061 19.6272 3.39012C17.3695 3.36963 15.5225 5.18334 15.5021 7.44112C15.4816 9.6989 17.2953 11.5458 19.553 11.5663C21.8108 11.5868 23.6577 9.7731 23.6782 7.51532Z" fill="#19FB9B"/>
              <path d="M21.4535 7.49515C21.4629 6.46601 20.6362 5.62415 19.607 5.61481C18.5779 5.60547 17.736 6.43219 17.7267 7.46133C17.7173 8.49047 18.5441 9.33233 19.5732 9.34167C20.6023 9.35101 21.4442 8.5243 21.4535 7.49515Z" fill="white"/>
              <path d="M39.8665 34.5153C37.545 39.0382 32.3112 41.392 28.231 42.6012C23.1801 44.0972 11.593 44.8483 4.84802 37.9241C1.26801 34.249 0.00148216 30.0981 0.305344 26.2994C2.6708 25.1413 7.3022 23.4472 14.326 26.0609C24.4511 29.8283 25.0123 34.6918 32.3542 36.5831C36.5653 37.6677 38.712 36.2488 39.8665 34.5153Z" fill="#9945FF"/>
              <path d="M1.63432 18.7178L1.50972 19.2368C1.37168 19.8123 1.37708 20.3761 1.50346 20.8762C1.55097 21.0636 1.6155 21.242 1.69617 21.4087C1.74188 21.5037 1.79205 21.596 1.84852 21.683C1.86645 21.7125 1.88528 21.7394 1.9041 21.7663C1.99374 21.8963 2.09502 22.0155 2.20706 22.1213C2.37916 22.2871 2.57728 22.4233 2.79599 22.5228C2.92148 22.5802 3.05503 22.6259 3.19396 22.6582L4.71057 22.3418L5.0467 22.2718L5.40883 22.1966L2.16583 16.5119L1.63432 18.7178Z" fill="#260246"/>
              <path d="M3.72279 14.2262L8.03331 21.7789C8.3309 21.7591 8.63028 21.7502 8.92966 21.752C9.23083 21.7529 9.53383 21.7654 9.83769 21.7887L5.45723 14.1124C4.63976 14.142 4.07237 14.1895 3.72279 14.2262Z" fill="#260246"/>
              <path d="M24.8228 16.0539C24.7591 16.0485 24.6964 16.0369 24.6373 16.0189C24.6014 16.0073 21.2141 14.9801 13.6364 14.3768C13.3729 14.3562 13.1039 14.3356 12.8306 14.3159C12.7866 14.3123 12.7436 14.3096 12.7006 14.3069C12.4245 14.2872 12.1556 14.2684 11.8939 14.2522C11.3597 14.2182 10.8541 14.1904 10.3746 14.168C10.2267 14.1608 10.0824 14.1545 9.93984 14.1492C9.60281 14.1348 9.28015 14.1232 8.9718 14.1133C8.69483 14.1052 8.4295 14.099 8.17494 14.0945C7.86839 14.0891 7.57797 14.0864 7.30279 14.0855H7.25259L11.8177 22.0863C13.2187 22.4045 14.5919 22.9495 15.9059 23.7204L19.3542 25.7434C21.4292 26.0688 23.5545 24.6911 24.0492 22.6053L25.4188 16.8274C25.5112 16.4357 25.2432 16.088 24.8228 16.0539Z" fill="#260246"/>
              <path d="M3.28766 14.2831C3.24643 14.2912 3.20608 14.293 3.16664 14.2903C2.91387 14.2697 2.65036 14.4983 2.57776 14.7994L2.16543 16.5123L5.40843 22.197L6.23935 22.0231C6.79598 21.9075 7.35889 21.8277 7.92717 21.7865C7.96213 21.7838 7.99796 21.7811 8.03291 21.7793L3.7224 14.2267C3.43198 14.258 3.29304 14.2814 3.28766 14.2831Z" fill="white"/>
              <path d="M7.25224 14.086C6.93673 14.0851 6.64184 14.0859 6.36666 14.0904C6.234 14.0922 6.10672 14.0949 5.98392 14.0976C5.79748 14.1021 5.62181 14.1075 5.45688 14.1128L9.83734 21.7892C10.2264 21.8169 10.618 21.8636 11.0097 21.9281C11.2795 21.9729 11.5484 22.0258 11.8174 22.0868L7.25224 14.086Z" fill="white"/>
            </g>
            <defs>
              <clipPath id="clip0_3_225">
                <rect width="48" height="48" fill="white"/>
              </clipPath>
            </defs>
          </svg>
          {%- if section.settings.title != blank -%}
            <h2 class="title {{ section.settings.heading_size }}">
              {% if section.settings.title_style == "03" %}
              <div class="marquee-group">
                <div class="marquee">
                  <span>{{ section.settings.title | escape }}</span>
                  <span>{{ section.settings.title | escape }}</span> 
                  <span>{{ section.settings.title | escape }}</span>
                  <span>{{ section.settings.title | escape }}</span>
                  <span>{{ section.settings.title | escape }}</span>
                  <span>{{ section.settings.title | escape }}</span>
                  <span>{{ section.settings.title | escape }}</span>
                  <span>{{ section.settings.title | escape }}</span>
                  <span>{{ section.settings.title | escape }}</span>
                  <span>{{ section.settings.title | escape }}</span>
                </div>
                <div class="marqueee">
                  <span>{{ section.settings.title | escape }}</span>
                  <span>{{ section.settings.title | escape }}</span> 
                  <span>{{ section.settings.title | escape }}</span>
                  <span>{{ section.settings.title | escape }}</span>
                  <span>{{ section.settings.title | escape }}</span>
                  <span>{{ section.settings.title | escape }}</span>
                  <span>{{ section.settings.title | escape }}</span>
                  <span>{{ section.settings.title | escape }}</span>
                  <span>{{ section.settings.title | escape }}</span>
                  <span>{{ section.settings.title | escape }}</span>
                </div>
              </div>
              {% else %}
                {{ section.settings.title }}
              {% endif %}
            </h2>
          {%- endif -%}

          <svg width="160" height="8" viewBox="0 0 160 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.87573 3.75147C3.37632 3.75147 4.12661 4.31418 5.25205 5.25205C6.56506 6.37749 8.06565 7.87807 11.0668 7.87807C14.068 7.87807 15.5686 6.37749 16.8816 5.25205C18.007 4.31418 18.5698 3.75147 20.2579 3.75147C21.7585 3.75147 22.5088 4.31418 23.6342 5.25205C24.9472 6.37749 26.4478 7.87807 29.449 7.87807C32.4502 7.87807 33.9508 6.37749 35.2638 5.25205C36.3892 4.31418 36.9519 3.75147 38.6401 3.75147C40.1407 3.75147 40.891 4.31418 42.0164 5.25205C43.3294 6.37749 44.83 7.87807 47.8312 7.87807C50.8324 7.87807 52.3329 6.37749 53.646 5.25205C54.7714 4.31418 55.3341 3.75147 57.0223 3.75147C58.5229 3.75147 59.2732 4.31418 60.3986 5.25205C61.7116 6.37749 63.2122 7.87807 66.2134 7.87807C69.2145 7.87807 70.7151 6.37749 72.0281 5.25205C73.1536 4.31418 73.7163 3.75147 75.4044 3.75147C76.905 3.75147 77.6553 4.31418 78.7808 5.25205C80.0938 6.37749 81.5944 7.87807 84.5955 7.87807C87.5967 7.87807 89.0973 6.37749 90.4103 5.25205C91.5358 4.31418 92.0985 3.75147 93.7866 3.75147C95.4748 3.75147 96.0375 4.31418 97.163 5.25205C98.476 6.37749 99.9766 7.87807 102.978 7.87807C105.979 7.87807 107.479 6.37749 108.793 5.25205C109.918 4.31418 110.481 3.75147 112.169 3.75147C113.669 3.75147 114.42 4.31418 115.545 5.25205C116.858 6.37749 118.359 7.87807 121.36 7.87807C124.361 7.87807 125.862 6.37749 127.175 5.25205C128.3 4.31418 128.863 3.75147 130.551 3.75147C132.052 3.75147 132.802 4.31418 133.927 5.25205C135.24 6.37749 136.741 7.87807 139.742 7.87807C142.743 7.87807 144.244 6.37749 145.557 5.25205C146.682 4.31418 147.245 3.75147 148.933 3.75147C150.621 3.75147 151.184 4.31418 152.309 5.25205C153.623 6.37749 155.123 7.87807 158.124 7.87807C159.25 7.87807 160 7.12778 160 6.00234C160 4.8769 159.25 4.12661 158.124 4.12661C156.624 4.12661 155.873 3.56389 154.748 2.62602C153.435 1.50058 151.934 0 148.933 0C145.932 0 144.431 1.50058 143.118 2.62602C141.993 3.56389 141.43 4.12661 139.742 4.12661C138.242 4.12661 137.491 3.56389 136.366 2.62602C135.053 1.50058 133.552 0 130.551 0C127.55 0 126.049 1.50058 124.736 2.62602C123.611 3.56389 123.048 4.12661 121.36 4.12661C119.672 4.12661 119.109 3.56389 117.984 2.62602C116.671 1.50058 115.17 0 112.169 0C109.168 0 107.667 1.50058 106.354 2.62602C105.229 3.56389 104.666 4.12661 102.978 4.12661C101.29 4.12661 100.727 3.56389 99.6014 2.62602C98.2884 1.50058 96.7878 0 93.7866 0C90.7855 0 89.2849 1.50058 87.9719 2.62602C86.8464 3.56389 86.2837 4.12661 84.5955 4.12661C83.095 4.12661 82.3447 3.56389 81.2192 2.62602C79.9062 1.50058 78.4056 0 75.4044 0C72.4033 0 70.9027 1.50058 69.5897 2.62602C68.4642 3.56389 67.9015 4.12661 66.2134 4.12661C64.7128 4.12661 63.9625 3.56389 62.837 2.62602C61.524 1.50058 60.0234 0 57.0223 0C54.0211 0 52.5205 1.50058 51.2075 2.62602C50.0821 3.56389 49.5193 4.12661 47.8312 4.12661C46.3306 4.12661 45.5803 3.56389 44.4549 2.62602C43.1419 1.50058 41.6413 0 38.6401 0C35.6389 0 34.1383 1.50058 32.8253 2.62602C31.6999 3.56389 31.1372 4.12661 29.449 4.12661C27.9484 4.12661 27.1981 3.56389 26.0727 2.62602C24.7597 1.50058 23.2591 0 20.2579 0C17.2567 0 15.7562 1.50058 14.4431 2.62602C13.3177 3.56389 12.755 4.12661 11.0668 4.12661C9.37866 4.12661 8.81594 3.56389 7.6905 2.62602C6.37749 1.50058 4.8769 0 1.87573 0C0.750292 0 0 0.750293 0 1.87573C0 3.00117 0.750292 3.75147 1.87573 3.75147Z" fill="url(#paint0_linear_3_241)"/>
            <defs>
              <linearGradient id="paint0_linear_3_241" x1="1" y1="4.43903" x2="165" y2="3.43905" gradientUnits="userSpaceOnUse">
                <stop stop-color="#9945FF"/>
                <stop offset="1" stop-color="#19FB9B"/>
              </linearGradient>
            </defs>
          </svg>

          {%- if section.settings.description != blank or section.settings.show_description and section.settings.collection.description != empty -%}
            <div class="collection__description {{ section.settings.description_style }}">
              {%- if section.settings.show_description -%}
                {{ section.settings.collection.description }}
              {%- else -%}
                {{ section.settings.description }}{% endif %}
            </div>
          {%- endif -%}

          {%- if section.settings.show_view_all and more_in_collection and section.settings.view_all_style == 'link' -%}
            <div class="center collection__view-all">
              <a href="{{ section.settings.collection.url }}" class="{% if section.settings.view_all_style == 'link' %}link hightlight-link link--text{% elsif section.settings.view_all_style == 'solid' %}button{% else %}button button--secondary{% endif %}" aria-label="{{ 'sections.featured_collection.view_all_label' | t: collection_name: section.settings.collection.title }}">
                <span>{{ 'sections.featured_collection.view_all' | t }}</span>
                <span class="icon-wrap">{% render 'icon-arrow' %}</span>
              </a>
            </div>
          {%- endif -%}
        </div>
      </div>
    {%- endunless -%}

    <slider-component class="slider-mobile-gutter{% if section.settings.full_width %} slider-component-full-width{% endif %}{% if show_mobile_slider == false or section.settings.full_width == false %} page-width{% endif %}{% if show_desktop_slider == false and section.settings.full_width == false %} page-width-desktop page-width-tablet {% endif %}{% if show_desktop_slider %} slider-component-desktop{% endif %} {% if show_mobile_slider %} slider-component-mobile{% endif %}">
      {%-liquid
        assign columns_desktop = section.settings.columns_desktop
        if products_to_display <= section.settings.columns_desktop
          assign num_dot_desktop = 1
        else
          assign num_dot_desktop = products_to_display | minus: section.settings.columns_desktop | plus: 1
        endif

        assign columns_mobile = section.settings.columns_mobile
      -%}
      {% if section.settings.show_card_collection %}
        <div class="product-grid-wrap product-grid-wrap--{{ section.settings.desktop_layout }}">
          <div class="collection-item">
            {% render 'card-collection'
             , card_collection: section.settings.collection
             , media_aspect_ratio: 'portrait'
             , columns: 1
             , extend_height: true
             , description: collection_description
             %}
          </div>
          <div class="product-items">
          {% endif %}
          <ul id="Slider-{{ section.id }}" class="grid product-grid contains-card{% if settings.card_style == 'standard' %} contains-card--standard{% endif %} grid--{{ columns_desktop }}-col-desktop{% if section.settings.collection == blank %} grid--2-col-tablet-down{% else %} grid--{{ columns_mobile }}-col-tablet-down{% endif %}{% if show_mobile_slider or show_desktop_slider %} slider{% if show_desktop_slider %} slider--desktop{% endif %}{% if show_mobile_slider %} slider--tablet grid--peek{% endif %}{% endif %}" role="list" aria-label="{{ 'sections.featured_collection.slider' | t }}">
            {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
              <li id="Slide-{{ section.id }}-{{ forloop.index }}" class="grid__item{% if show_mobile_slider or show_desktop_slider %} slider__slide{% endif %}">
                {% render 'card-product'
                 , card_product: product
                 , media_aspect_ratio: section.settings.image_ratio
                 , show_secondary_image: section.settings.show_secondary_image
                 , show_vendor: section.settings.show_vendor
                 , show_rating: section.settings.show_rating
                 , show_quick_add: section.settings.enable_quick_add
                 , section_id: section.id
                 , show_product_description: section.settings.show_product_description
                 , show_quick_view: false
                 %}
              </li>
            {%- else -%}
              {%- for i in (1..columns_desktop) -%}
                <li class="grid__item">
                  {% render 'card-product', show_vendor: section.settings.show_vendor %}
                </li>
              {%- endfor -%}
            {%- endfor -%}
          </ul>
          {% if section.settings.show_card_collection %}
          </div>
        </div>
      {%- endif -%}
      {%- if show_mobile_slider or show_desktop_slider -%}
        <div class="slider-buttons no-js-hidden slider-{%- if section.settings.slider_visual == 'dots' -%}dots{%- elsif section.settings.slider_visual == 'counter' -%}counter{%- else -%}navigation{%- endif -%}">
          <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'general.slider.previous_slide' | t }}" aria-controls="Slider-{{ section.id }}">{% render 'icon-chevron-left' %}</button>
          {%- if section.settings.slider_visual != 'nav' -%}
          <div class="slider-counter caption slider-counter--{{ section.settings.slider_visual }}{% if section.settings.slider_visual == 'counter' or section.settings.slider_visual == 'numbers' %} caption{% endif %}">
            {%- if section.settings.slider_visual == 'counter' -%}
              <span class="slider-counter--current">1</span>
              <span aria-hidden="true">
                /
              </span>
              <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
              <span class="slider-counter--total">{{ products_to_display }}</span>
            {%- else-%}
              <div class="slideshow__control-wrapper">
                {%- for block_ in (1..num_dot_desktop) -%}
                  <button class="slider-counter__link slider-counter__link--{{ section.settings.slider_visual }} link" aria-label="{{ 'sections.slideshow.load_slide' | t }} {{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}" aria-controls="Slider-{{ section.id }}">
                    {%- if section.settings.slider_visual == 'numbers' -%}
                      {{ forloop.index }}
                    {% else %}
                      <span class="dot"></span>
                    {%- endif -%}
                  </button>
                {%- endfor -%}
              </div>
            {%- endif -%}
          </div>
          {%- endif -%}
          <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'general.slider.next_slide' | t }}" aria-controls="Slider-{{ section.id }}">{% render 'icon-chevron-left' %}</button>
        </div>
      {%- endif -%}
    </slider-component>

    {%- if section.settings.show_view_all and more_in_collection and section.settings.view_all_style != 'link' -%}
      <div class="center collection__view-all">
        <a href="{{ section.settings.collection.url }}" class="{% if section.settings.view_all_style == 'link' %}link hightlight-link link--text{% elsif section.settings.view_all_style == 'solid' %}button{% else %}button button--secondary{% endif %}" aria-label="{{ 'sections.featured_collection.view_all_label' | t: collection_name: section.settings.collection.title }}">
          <span>{{ 'sections.featured_collection.view_all' | t }}</span>
        </a>
      </div>
    {%- endif -%}
  </div>
</div>

{% if section.settings.title_style == "03" %}
<script type="text/javascript">
const _getposy = document.querySelector(".section-{{ section.id }}-padding .marquee");
const _getposl = document.querySelector(".section-{{ section.id }}-padding .marqueee");

const _config = {
  speed: 1,
  ease: 1
}

window.addEventListener("scroll", function() {
  let pageY = window.pageYOffset;
  let bodyRect = _getposy.getBoundingClientRect();
  let bodyRectl = _getposl.getBoundingClientRect();
  //--
  gsap.to('.section-{{ section.id }}-padding .marqueee', {
    duration:_config.speed,
    x: -(pageY-(bodyRectl.top - window.innerWidth))/2,
    ease: _config.ease
  });
  gsap.to(".section-{{ section.id }}-padding .marquee", {
    duration:_config.speed,
    x: -(pageY-(bodyRectl.top - window.innerWidth))/3,
    ease: _config.ease
  });
})

</script>
{%- endif -%}

{% schema %}
  {
    "name": "t:sections.featured-collection.name",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "default": "Featured collection",
        "label": "t:sections.featured-collection.settings.title.label"
      },
      {
        "type": "select",
        "id": "heading_size",
        "options": [
          {
            "value": "h3",
            "label": "t:sections.all.heading_size.options__1.label"
          }, {
            "value": "h2",
            "label": "t:sections.all.heading_size.options__2.label"
          }, {
            "value": "h1",
            "label": "t:sections.all.heading_size.options__3.label"
          }, {
            "value": "h0",
            "label": "t:sections.all.heading_size.options__4.label"
          }, {
            "value": "hxl",
            "label": "t:sections.all.heading_size.options__5.label"
          }
        ],
        "default": "hxl",
        "label": "t:sections.all.heading_size.label"
      },
      {
        "type": "select",
        "id": "title_style",
        "label": "t:sections.featured-collection.settings.title_style.label",
        "options": [
          {
            "value": "01",
            "label": "t:sections.featured-collection.settings.title_style.options__1.label"
          }, {
            "value": "02",
            "label": "t:sections.featured-collection.settings.title_style.options__2.label"
          }, {
            "value": "03",
            "label": "t:sections.featured-collection.settings.title_style.options__3.label"
          }
        ],
        "default": "03"
      },
      {
        "type": "select",
        "id": "description_style",
        "label": "t:sections.featured-collection.settings.description_style.label",
        "options": [
          {
            "value": "body",
            "label": "t:sections.featured-collection.settings.description_style.options__1.label"
          }, {
            "value": "subtitle",
            "label": "t:sections.featured-collection.settings.description_style.options__2.label"
          }, {
            "value": "uppercase",
            "label": "t:sections.featured-collection.settings.description_style.options__3.label"
          }
        ],
        "default": "body"
      }, {
        "type": "richtext",
        "id": "description",
        "label": "t:sections.featured-collection.settings.description.label"
      }, {
        "type": "checkbox",
        "id": "show_description",
        "label": "t:sections.featured-collection.settings.show_description.label",
        "default": false
      }, {
        "type": "collection",
        "id": "collection",
        "label": "t:sections.featured-collection.settings.collection.label"
      }, {
        "type": "checkbox",
        "id": "show_card_collection",
        "label": "t:sections.featured-collection.settings.show_card_collection.label",
        "default": false
      }, {
        "type": "range",
        "id": "products_to_show",
        "min": 2,
        "max": 60,
        "step": 1,
        "default": 4,
        "label": "t:sections.featured-collection.settings.products_to_show.label"
      }, {
        "type": "range",
        "id": "columns_desktop",
        "min": 1,
        "max": 5,
        "step": 1,
        "default": 4,
        "label": "t:sections.featured-collection.settings.columns_desktop.label"
      }, {
        "type": "checkbox",
        "id": "full_width",
        "label": "t:sections.featured-collection.settings.full_width.label",
        "default": false
      }, {
        "type": "checkbox",
        "id": "show_view_all",
        "default": true,
        "label": "t:sections.featured-collection.settings.show_view_all.label"
      }, {
        "type": "select",
        "id": "view_all_style",
        "label": "t:sections.featured-collection.settings.view_all_style.label",
        "options": [
          {
            "value": "link",
            "label": "t:sections.featured-collection.settings.view_all_style.options__1.label"
          }, {
            "value": "outline",
            "label": "t:sections.featured-collection.settings.view_all_style.options__2.label"
          }, {
            "value": "solid",
            "label": "t:sections.featured-collection.settings.view_all_style.options__3.label"
          }
        ],
        "default": "solid"
      }, {
        "type": "checkbox",
        "id": "enable_desktop_slider",
        "label": "t:sections.featured-collection.settings.enable_desktop_slider.label",
        "default": false
      }, {
        "type": "select",
        "id": "slider_visual",
        "options": [
          {
            "value": "dots",
            "label": "t:sections.slideshow.settings.slider_visual.options__2.label"
          }, {
            "value": "counter",
            "label": "t:sections.slideshow.settings.slider_visual.options__1.label"
          }, {
            "value": "nav",
            "label": "t:sections.slideshow.settings.slider_visual.options__4.label"
          }
        ],
        "default": "nav",
        "label": "t:sections.slideshow.settings.slider_visual.label"
      }, {
        "type": "select",
        "id": "color_scheme",
        "options": [
          {
            "value": "accent-1",
            "label": "t:sections.all.colors.accent_1.label"
          },
          {
            "value": "accent-2",
            "label": "t:sections.all.colors.accent_2.label"
          },
          {
            "value": "accent-3",
            "label": "t:sections.all.colors.accent_3.label"
          },
          {
            "value": "accent-4",
            "label": "t:sections.all.colors.accent_4.label"
          },
          {
            "value": "background-1",
            "label": "t:sections.all.colors.background_1.label"
          },
          {
            "value": "background-2",
            "label": "t:sections.all.colors.background_2.label"
          }, {
            "value": "inverse",
            "label": "t:sections.all.colors.inverse.label"
          }
        ],
        "default": "background-1",
        "label": "t:sections.all.colors.label",
        "info": "t:sections.all.colors.has_cards_info"
      }, {
        "type": "select",
        "id": "desktop_layout",
        "options": [
          {
            "value": "left",
            "label": "t:sections.collage.settings.desktop_layout.options__1.label"
          }, {
            "value": "right",
            "label": "t:sections.collage.settings.desktop_layout.options__2.label"
          }
        ],
        "default": "left",
        "label": "t:sections.collage.settings.desktop_layout.label"
      }, {
        "type": "header",
        "content": "t:sections.featured-collection.settings.header.content"
      }, {
        "type": "select",
        "id": "image_ratio",
        "options": [
          {
            "value": "adapt",
            "label": "t:sections.featured-collection.settings.image_ratio.options__1.label"
          }, {
            "value": "portrait",
            "label": "t:sections.featured-collection.settings.image_ratio.options__2.label"
          }, {
            "value": "square",
            "label": "t:sections.featured-collection.settings.image_ratio.options__3.label"
          }
        ],
        "default": "adapt",
        "label": "t:sections.featured-collection.settings.image_ratio.label"
      }, {
        "type": "checkbox",
        "id": "show_secondary_image",
        "default": false,
        "label": "t:sections.featured-collection.settings.show_secondary_image.label"
      }, {
        "type": "checkbox",
        "id": "show_vendor",
        "default": false,
        "label": "t:sections.featured-collection.settings.show_vendor.label"
      }, {
        "type": "checkbox",
        "id": "show_rating",
        "default": false,
        "label": "t:sections.featured-collection.settings.show_rating.label",
        "info": "t:sections.featured-collection.settings.show_rating.info"
      }, {
        "type": "checkbox",
        "id": "show_product_description",
        "label": "t:sections.featured-collection.settings.show_product_description.label",
        "default": false
      }, {
        "type": "checkbox",
        "id": "enable_quick_add",
        "default": false,
        "label": "t:sections.featured-collection.settings.enable_quick_buy.label"
      }, {
        "type": "header",
        "content": "t:sections.featured-collection.settings.header_mobile.content"
      }, {
        "type": "select",
        "id": "columns_mobile",
        "default": "2",
        "label": "t:sections.featured-collection.settings.columns_mobile.label",
        "options": [
          {
            "value": "1",
            "label": "t:sections.featured-collection.settings.columns_mobile.options__1.label"
          }, {
            "value": "2",
            "label": "t:sections.featured-collection.settings.columns_mobile.options__2.label"
          }
        ]
      }, {
        "type": "checkbox",
        "id": "swipe_on_mobile",
        "default": false,
        "label": "t:sections.featured-collection.settings.swipe_on_mobile.label"
      }, {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      }, {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 128,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 128,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }, 
      {
        "type": "text",
        "id": "mod_class",
        "label": "Module Class Suffix"
      }
    ],
    "presets": [
      {
        "name": "t:sections.featured-collection.presets.name"
      }
    ]
  }
{% endschema %}